{lib_dirs, ["deps"]}.

{deps, [{skerl, "0\.1",
         {hg, "ssh://hg@bitbucket.org/basho/skerl", "1233b8462076"}},
        {webmachine, "1.7.1",
         {hg, "http://bitbucket.org/basho/webmachine", "webmachine-1.7.1"}},
        {riak_kv, "0.12.0",
         {hg, "http://bitbucket.org/basho/riak_kv", "92b956595db4"}}]}.

