{erl_opts, [{i, ".."}, debug_info, fail_on_warning]}.

{sub_dirs, ["rel"]}.

{lib_dirs, ["deps"]}.

{deps, [{skerl, "1.0.*",
         {git, "git://github.com/basho/skerl", {tag, "skerl-1.0.0"}}},
        {riak_kv, "0.14.*",
         {git, "git://github.com/basho/riak_kv", {branch, "master"}}}
        ]}.
